## Dataset: spotify_data

Source: Data.world

Description: Daily streaming data from 2017 comprising of over two thousand genres streamed from 17 countries

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the csv file path
csv_path = "Resources/raw_spotify_data.csv"

# Import the csv file as a DataFrame
raw_spotify_df = pd.read_csv(csv_path, encoding="utf-8")
raw_spotify_df.tail()

,Genres,Region,Streams,Date
1048570,reggaeton | latin hip hop | reggaeton flow | t...,Chile,10948,2/19/2017
1048571,viral pop | dance pop | canadian pop | pop | p...,Chile,10920,2/19/2017
1048572,dance pop | pop | post-teen pop,Chile,10894,2/19/2017
1048573,chilean rock | chilean indie | nueva cancion |...,Chile,10800,2/19/2017
1048574,reggaeton | trap latino | reggaeton flow | pop...,Chile,10790,2/19/2017

In [3]:
# Calculate the number of unique regions in the DataFrame
region_count = len(raw_spotify_df["Region"].unique())
print(f"This Dataframe houses Spotify streams from {region_count} countries.")

# Calculate the number of unique genres in the DataFrame
genre_count = len(raw_spotify_df["Genres"].unique())
print(f"There are {genre_count} genres.")

# Calculate the length of the DataFrame
rows = len(raw_spotify_df)
print(f"There are {rows} rows of data.")

This Dataframe houses Spotify streams from 17 countries.
There are 2438 genres.
There are 1048575 rows of data.

In [4]:
# Split Genres column by delimiter into multiple columns
scrubbed_genres = raw_spotify_df['Genres'].str.split('|', n=1, expand=True)
scrubbed_genres.columns

RangeIndex(start=0, stop=2, step=1)

In [5]:
# Combine split columns back onto raw dataframe
raw_spotify_df.join(scrubbed_genres)

,Genres,Region,Streams,Date,0,1
0,tropical | reggaeton | boy band | pop | latin,Ecuador,19272,1/1/2017,tropical,reggaeton | boy band | pop | latin
1,reggaeton | pop | mexican pop | latin | latin ...,Ecuador,19270,1/1/2017,reggaeton,pop | mexican pop | latin | latin pop | dance...
2,tropical | latin hip hop | reggaeton | latin,Ecuador,15761,1/1/2017,tropical,latin hip hop | reggaeton | latin
3,reggaeton | pop | tropical | mexican pop | lat...,Ecuador,14954,1/1/2017,reggaeton,pop | tropical | mexican pop | latin | latin ...
4,reggaeton | pop rap | pop | r&b | latin | hip ...,Ecuador,14269,1/1/2017,reggaeton,pop rap | pop | r&b | latin | hip hop | rap |...
...,...,...,...,...,...,...
1048570,reggaeton | latin hip hop | reggaeton flow | t...,Chile,10948,2/19/2017,reggaeton,latin hip hop | reggaeton flow | tropical | t...
1048571,viral pop | dance pop | canadian pop | pop | p...,Chile,10920,2/19/2017,viral pop,dance pop | canadian pop | pop | post-teen pop
1048572,dance pop | pop | post-teen pop,Chile,10894,2/19/2017,dance pop,pop | post-teen pop
1048573,chilean rock | chilean indie | nueva cancion |...,Chile,10800,2/19/2017,chilean rock,chilean indie | nueva cancion | latin rock
1048574,reggaeton | trap latino | reggaeton flow | pop...,Chile,10790,2/19/2017,reggaeton,trap latino | reggaeton flow | pop | tropical...

In [6]:
# Reassing Genres column with revised values
raw_spotify_df['Genres'] = scrubbed_genres[0]
raw_spotify_df

                Genres   Region  Streams       Date
0            tropical   Ecuador    19272   1/1/2017
1           reggaeton   Ecuador    19270   1/1/2017
2            tropical   Ecuador    15761   1/1/2017
3           reggaeton   Ecuador    14954   1/1/2017
4           reggaeton   Ecuador    14269   1/1/2017
...                ...      ...      ...        ...
1048570     reggaeton     Chile    10948  2/19/2017
1048571     viral pop     Chile    10920  2/19/2017
1048572     dance pop     Chile    10894  2/19/2017
1048573  chilean rock     Chile    10800  2/19/2017
1048574     reggaeton     Chile    10790  2/19/2017

[1048575 rows x 4 columns]

In [7]:
raw_spotify_df.dtypes

Genres     object
Region     object
Streams     int64
Date       object
dtype: object

In [8]:
# Use pandas.to_datetime() to convert Date column to datetime format
raw_spotify_df["Date"] = pd.to_datetime(raw_spotify_df["Date"])

In [9]:
# Calculate the earliest/latest year a stream was recorded
earliest_date = raw_spotify_df["Date"].min()
latest_date = raw_spotify_df["Date"].max()
print(f"The first record of streamed data is {earliest_date}.")
print(f"The last record of streamed data is {latest_date}.")

The first record of streamed data is 2017-01-01 00:00:00.
The last record of streamed data is 2018-01-09 00:00:00.

In [10]:
# Remove 2018 data points to have a clean 12 month sample data set
clean_spotify_data = raw_spotify_df.loc[raw_spotify_df['Date'] <= "2017-12-31"]

In [11]:
# Drop blank rows
clean_spotify_data.dropna(subset=['Genres'])

                Genres   Region  Streams       Date
0            tropical   Ecuador    19272 2017-01-01
1           reggaeton   Ecuador    19270 2017-01-01
2            tropical   Ecuador    15761 2017-01-01
3           reggaeton   Ecuador    14954 2017-01-01
4           reggaeton   Ecuador    14269 2017-01-01
...                ...      ...      ...        ...
1048570     reggaeton     Chile    10948 2017-02-19
1048571     viral pop     Chile    10920 2017-02-19
1048572     dance pop     Chile    10894 2017-02-19
1048573  chilean rock     Chile    10800 2017-02-19
1048574     reggaeton     Chile    10790 2017-02-19

[992335 rows x 4 columns]

In [12]:
# Resetting the index
clean_spotify_data.reset_index()

           index         Genres   Region  Streams       Date
0              0      tropical   Ecuador    19272 2017-01-01
1              1     reggaeton   Ecuador    19270 2017-01-01
2              2      tropical   Ecuador    15761 2017-01-01
3              3     reggaeton   Ecuador    14954 2017-01-01
4              4     reggaeton   Ecuador    14269 2017-01-01
...          ...            ...      ...      ...        ...
1023698  1048570     reggaeton     Chile    10948 2017-02-19
1023699  1048571     viral pop     Chile    10920 2017-02-19
1023700  1048572     dance pop     Chile    10894 2017-02-19
1023701  1048573  chilean rock     Chile    10800 2017-02-19
1023702  1048574     reggaeton     Chile    10790 2017-02-19

[1023703 rows x 5 columns]

In [13]:
# Drop unnecessary columns
clean_spotify_data[["Genres", "Region", "Streams", "Date"]]

                Genres   Region  Streams       Date
0            tropical   Ecuador    19272 2017-01-01
1           reggaeton   Ecuador    19270 2017-01-01
2            tropical   Ecuador    15761 2017-01-01
3           reggaeton   Ecuador    14954 2017-01-01
4           reggaeton   Ecuador    14269 2017-01-01
...                ...      ...      ...        ...
1048570     reggaeton     Chile    10948 2017-02-19
1048571     viral pop     Chile    10920 2017-02-19
1048572     dance pop     Chile    10894 2017-02-19
1048573  chilean rock     Chile    10800 2017-02-19
1048574     reggaeton     Chile    10790 2017-02-19

[1023703 rows x 4 columns]

In [14]:
# Rename Columns
final_spotify_data = clean_spotify_data.rename(columns={"Genres": "Genre", "Region": "Country"})

In [15]:
final_spotify_data.columns

Index(['Genre', 'Country', 'Streams', 'Date'], dtype='object')

In [16]:
# Push the remade DataFrame to a new CSV file
final_spotify_data.to_csv("Output/final_spotify_data.csv",
                  encoding="utf-8", index=False, header=True)